@import "global-variables";

footer {
  margin-top: 50px;
}
#social {
  background: #323a45;
  padding: 20px 0;
}
#footernav {
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 15px;
      padding: 0;
      text-align: center;
    }
    a {
      @include border-radius(4px);
      color: #D0DBE2;
      display: block;
      //text-indent: -9999px;
      @include transition(all ease-in-out 0.3s);
      i {
        display: block;
        font-size: 2em;
        font-size: 3.2rem;
        height: 70px;
        line-height: 70px;
        width: 70px;
      }
      &:hover {
        background-color: $tertiaryColor;
        color: $secondaryColor;
      }
    }
  }
}
.social span {
  //background: url(../images/socialicon-sprite.png) no-repeat 0 0;
}
.facebook span {
  background-position: 0 -70px;
}
.email span {
  background-position: 0 -140px;
}
#credits {
  background: #23282F;
  padding: 20px 0;
  text-align: center;
  p {
    color: #fff;
    font-size: 0.875em;
    font-size: 1.4rem;
    margin: 0;
  }
  a {
    color: #fff;
    font-weight: 200;
    &:hover {
      color: $tertiaryColor;
    }
  }
}