/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 3, ../sass/form.scss */
input, label, textarea, select {
  display: block;
  width: 100%;
}

/* line 7, ../sass/form.scss */
input, textarea, select {
  background: white;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 10px;
}
/* line 12, ../sass/form.scss */
input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
  outline: none;
}

/* line 16, ../sass/form.scss */
textarea {
  min-height: 300px;
}

/* line 19, ../sass/form.scss */
input[type='checkbox'], input[type='radio'] {
  width: auto;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px;
}
/* line 25, ../sass/form.scss */
input[type='checkbox'] + label, input[type='radio'] + label {
  padding-left: 20px;
}

/* line 29, ../sass/form.scss */
input[type='submit'] {
  -webkit-transition: all ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

/* line 32, ../sass/form.scss */
button {
  border: none;
  margin-top: 20px;
}

/* line 36, ../sass/form.scss */
.frmRow {
  margin-bottom: 20px;
  position: relative;
}
