/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 9, ../sass/button.scss */
.btn {
  background: #323A45;
  color: #fff;
  display: inline-block;
  padding: 0.625em 1.875em;
}
/* line 11, ../sass/button.scss */
.btn:hover {
  background: #c1d72e;
  color: #323A45;
  text-decoration: none;
}
/* line 19, ../sass/button.scss */
.btn.alt {
  background: #bababa;
  color: #fff;
  display: inline-block;
  padding: 0.625em 1.875em;
}
/* line 28, ../sass/button.scss */
.btn.small {
  padding: 0.3125em 0.9375em;
}

/* line 32, ../sass/button.scss */
.btn-group {
  margin: 3.125em 0 0;
  text-align: center;
}
/* line 35, ../sass/button.scss */
.btn-group .btn {
  margin: 0 0.3125em;
}
