/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 27, ../sass/content.scss */
#hero {
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 33, ../sass/content.scss */
#imagecontain {
  height: 600px;
  height: 77vh;
  overflow: hidden;
  position: relative;
}
/* line 38, ../sass/content.scss */
#imagecontain img {
  position: relative;
}
@media all and (max-width: 1130px) {
  /* line 33, ../sass/content.scss */
  #imagecontain {
    height: auto;
  }
}

/* line 46, ../sass/content.scss */
#mask {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 55, ../sass/content.scss */
#intro {
  background-color: #c1d72e;
  padding: 2.5em 1.875em;
  margin-bottom: 2.5em;
  position: relative;
  text-align: center;
}
/* line 61, ../sass/content.scss */
#intro.singlepost {
  padding: 4.375em 1.875em;
}
/* line 63, ../sass/content.scss */
#intro.singlepost * {
  color: #ffffff;
}
/* line 67, ../sass/content.scss */
#intro.singlepost .entrymeta span, #intro.singlepost .entrymeta a {
  font-size: 1.125em;
  font-style: italic;
}
/* line 73, ../sass/content.scss */
#intro.port-title {
  background: #ffffff;
  -moz-box-shadow: 0 1px 5px #888888;
  -webkit-box-shadow: 0 1px 5px #888888;
  box-shadow: 0 1px 5px #888888;
  margin-bottom: 0;
  padding: 1.25em 1.875em;
}
/* line 78, ../sass/content.scss */
#intro.port-title p {
  font-size: 1.125em;
  font-style: italic;
  margin: 0;
}
/* line 83, ../sass/content.scss */
#intro.port-title:after {
  border: 0;
}
/* line 87, ../sass/content.scss */
#intro h1, #intro h2, #intro p {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.617em;
  margin: 0;
}
/* line 93, ../sass/content.scss */
#intro:after {
  border-bottom: 20px solid #f0f0ec;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -20px;
  position: absolute;
}

/* line 105, ../sass/content.scss */
#text-intro {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.61803em;
  padding: 50px 0;
}

/* line 111, ../sass/content.scss */
#content {
  padding: 2.5em 0;
}
/* line 113, ../sass/content.scss */
#content h2 {
  font-weight: 400;
}
/* line 117, ../sass/content.scss */
#content h3 {
  font-weight: 400;
}

/* line 123, ../sass/content.scss */
.content-section {
  padding: 3.25em 0;
}
/* line 125, ../sass/content.scss */
.content-section h2 {
  font-weight: 700;
  text-align: center;
}

/* line 132, ../sass/content.scss */
#services {
  text-align: center;
}

/* line 135, ../sass/content.scss */
.icon-fill {
  list-style: none;
}
/* line 137, ../sass/content.scss */
.icon-fill li {
  position: relative;
  z-index: 2;
  margin-left: 250px;
}
/* line 141, ../sass/content.scss */
.icon-fill li:before, .icon-fill li:after {
  content: '';
  position: absolute;
  width: 270px;
  right: 100%;
  z-index: 2;
}
/* line 148, ../sass/content.scss */
.icon-fill li:before {
  top: 0;
  height: 200px;
  background-repeat: no-repeat;
}
/* line 153, ../sass/content.scss */
.icon-fill li.icon-1:before {
  background: url(../images/icons/software-icon.png) no-repeat;
}

/* line 159, ../sass/content.scss */
.listing-item {
  background: white;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  height: 328px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
/* line 166, ../sass/content.scss */
.listing-item .item-select {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 174, ../sass/content.scss */
.listing-item .item-select .latest-thumb {
  display: block;
  width: 100%;
}
/* line 178, ../sass/content.scss */
.listing-item .item-select .type {
  background: white;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #323A45;
  display: inline-block;
  font-size: 0.8125em;
  font-weight: 700;
  left: 0;
  padding: 0.625em;
  position: absolute;
  top: 0;
  z-index: 10;
}
/* line 196, ../sass/content.scss */
.listing-item .item-select:hover .latest-thumb {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: slowScale;
  animation-name: slowScale;
}
/* line 206, ../sass/content.scss */
.listing-item .item-select:hover .cover {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.22), inset -2px -2px 2px rgba(0, 0, 0, 0.22);
  opacity: 1;
}
/* line 212, ../sass/content.scss */
.listing-item .item-select:hover .cover .meta-wrap {
  bottom: 10px;
}
/* line 215, ../sass/content.scss */
.listing-item .item-select:hover .cover .brand-logo {
  opacity: 1;
}

@-webkit-keyframes slowScale {
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 228, ../sass/content.scss */
.cover {
  background: rgba(193, 215, 46, 0.85);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 237, ../sass/content.scss */
.cover .latest-meta {
  background: white;
  color: #323A45;
  padding: 0.625em;
}
/* line 242, ../sass/content.scss */
.cover .clickthrough {
  background: url(../images/coveranchor-icon.png) no-repeat 0 0;
  color: #ffffff;
  font-size: 1.875em;
  height: 16px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 16px;
}

/* line 251, ../sass/content.scss */
.meta-wrap {
  bottom: -100px;
  left: 10px;
  position: absolute;
  right: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 259, ../sass/content.scss */
.meta-wrap .latest-meta {
  background: white;
  color: #323A45;
  display: inline-block;
}
/* line 264, ../sass/content.scss */
.meta-wrap .title {
  font-size: 1.125em;
  font-weight: 700;
}
/* line 268, ../sass/content.scss */
.meta-wrap .summary {
  font-size: 0.8155em;
  line-height: 1.61803em;
  margin: 0;
}
/* line 273, ../sass/content.scss */
.meta-wrap .publishdate {
  font-size: 0.75em;
}

/* line 278, ../sass/content.scss */
.work-item .brand-logo {
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  width: 120px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
/* line 285, ../sass/content.scss */
.work-item .brand-logo img {
  display: block;
}

/* line 291, ../sass/content.scss */
.blog-item .meta-wrap {
  bottom: -300px;
}

/* line 298, ../sass/content.scss */
.sec-1 .parallax-item.level-1 {
  background: url(../images/about-sec-1-bg-1.png) no-repeat 50% 50%;
}
/* line 301, ../sass/content.scss */
.sec-1 .parallax-item.level-2 {
  background: url(../images/about-sec-1-bg-2.png) no-repeat 50% 50%;
}
/* line 304, ../sass/content.scss */
.sec-1 .parallax-item.level-3 {
  background: url(../images/about-sec-1-bg-3.png) no-repeat 50% 50%;
}

/* line 311, ../sass/content.scss */
#portfolio-item .parallax-block {
  height: 800px;
}
/* line 313, ../sass/content.scss */
#portfolio-item .parallax-block img {
  width: 100%;
}

/* line 318, ../sass/content.scss */
.return {
  padding-top: 80px;
  text-align: center;
}

/* line 322, ../sass/content.scss */
.project-nav {
  background: #323a45;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  position: relative;
  text-indent: -9999px;
  width: 40px;
}
/* line 330, ../sass/content.scss */
.project-nav:hover {
  background: #c1d72e;
}
/* line 333, ../sass/content.scss */
.project-nav span {
  background: url(../images/portnav-icon.png) no-repeat 0 0;
  height: 14px;
  left: 50%;
  margin-left: -8px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 16px;
}

/* line 345, ../sass/content.scss */
.dropwrapper {
  background: #323A45;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  float: right;
  margin-bottom: 2.5em;
  position: relative;
  width: 270px;
}
/* line 353, ../sass/content.scss */
.dropwrapper .droplabel {
  cursor: pointer;
  padding: 16px;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 358, ../sass/content.scss */
.dropwrapper .droplabel span {
  display: block;
  font-size: 0.875em;
  line-height: 1;
  position: relative;
}
/* line 364, ../sass/content.scss */
.dropwrapper .droplabel i {
  background: url(../images/filter-sprite.png) no-repeat right 0;
  height: 14px;
  position: absolute;
  right: 16px;
  top: 16px;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  width: 10px;
}
/* line 375, ../sass/content.scss */
.dropwrapper .droplabel:hover {
  background: #c1d72e;
}
/* line 379, ../sass/content.scss */
.dropwrapper .dropdown {
  background: #323A45;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 5;
}
/* line 389, ../sass/content.scss */
.dropwrapper .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 393, ../sass/content.scss */
.dropwrapper .dropdown ul li {
  margin: 0;
  padding: 0;
}
/* line 396, ../sass/content.scss */
.dropwrapper .dropdown ul li a {
  color: #ffffff;
  display: block;
  font-size: 0.875em;
  line-height: 1;
  padding: 16px;
}
/* line 402, ../sass/content.scss */
.dropwrapper .dropdown ul li a:hover {
  color: #c1d72e;
}
/* line 410, ../sass/content.scss */
.dropwrapper.open .droplabel {
  background: #c1d72e;
}
/* line 412, ../sass/content.scss */
.dropwrapper.open .droplabel i {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 419, ../sass/content.scss */
.tile-contain {
  position: relative;
}

/* line 422, ../sass/content.scss */
.team-item {
  min-height: 354px;
  position: relative;
}
/* line 425, ../sass/content.scss */
.team-item .member-overview {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 431, ../sass/content.scss */
.team-item .member-overview:hover .cover {
  filter: alpha(opacity=85);
  opacity: 0.85;
}
/* line 437, ../sass/content.scss */
.team-item .imgwrap {
  -moz-box-shadow: 0 0 6px #888888;
  -webkit-box-shadow: 0 0 6px #888888;
  box-shadow: 0 0 6px #888888;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
/* line 443, ../sass/content.scss */
.team-item img {
  display: block;
  width: 100%;
}
/* line 448, ../sass/content.scss */
.team-item .cover span {
  background: url(../images/team-clickthrough.png) no-repeat 0 0;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 34px;
}
/* line 455, ../sass/content.scss */
.team-item h3 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}
/* line 460, ../sass/content.scss */
.team-item p {
  color: #323A45;
  font-size: 0.8125em;
  font-weight: 400;
  margin: 0;
}

/* line 468, ../sass/content.scss */
#mapContain {
  height: calc(100% - 231px);
  height: -webkit-calc(100% - 231px);
  position: relative;
}

/* line 473, ../sass/content.scss */
#contact-area {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 415px;
  left: 0;
  margin: 0 20px;
  width: 450px;
}

/* line 480, ../sass/content.scss */
.office-title {
  background: #323A45;
  -moz-box-shadow: 1px 1px 1px rgba(240, 240, 236, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(240, 240, 236, 0.4);
  box-shadow: 1px 1px 1px rgba(240, 240, 236, 0.4);
  color: #ffffff;
  display: inline-block;
  font-size: 1.875em;
  margin-bottom: 20px;
  padding: 10px;
}

/* line 489, ../sass/content.scss */
.adr {
  margin-bottom: 10px;
}
/* line 491, ../sass/content.scss */
.adr span {
  background: #f0f0ec;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  clear: left;
  display: block;
  font-size: 1.625em;
  float: left;
  padding: 10px;
}

/* line 501, ../sass/content.scss */
.locations {
  color: #323A45;
  font-weight: 700;
}
/* line 504, ../sass/content.scss */
.locations:hover {
  color: #c1d72e;
}

/* line 508, ../sass/content.scss */
.location-block {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 513, ../sass/content.scss */
.location-block.active {
  display: block;
}

/* line 517, ../sass/content.scss */
.contact-form {
  margin: 2em auto;
  max-width: 800px;
}
/* line 520, ../sass/content.scss */
.contact-form input, .contact-form textarea {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 523, ../sass/content.scss */
.contact-form input:active, .contact-form input:focus, .contact-form textarea:active, .contact-form textarea:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 530, ../sass/content.scss */
#blog h2 {
  text-align: center;
}

/* line 534, ../sass/content.scss */
.entry-list {
  text-align: center;
}
/* line 537, ../sass/content.scss */
.entry-list .blog-item .imgwrap {
  margin: 0 9.375em;
}

/* line 542, ../sass/content.scss */
.post-summary {
  margin-top: 3.75em;
  position: relative;
}
/* line 545, ../sass/content.scss */
.post-summary::after {
  background: #c1d72e;
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 50px;
}
/* line 552, ../sass/content.scss */
.post-summary:first-child {
  margin-top: 0;
}

/* line 556, ../sass/content.scss */
.blog-item {
  position: relative;
}
/* line 558, ../sass/content.scss */
.blog-item .imgwrap {
  -moz-box-shadow: 0 0 6px #888888;
  -webkit-box-shadow: 0 0 6px #888888;
  box-shadow: 0 0 6px #888888;
  display: block;
  margin-bottom: 1.25em;
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 566, ../sass/content.scss */
.blog-item .imgwrap:hover .cover {
  filter: alpha(opacity=85);
  opacity: 0.85;
}
/* line 572, ../sass/content.scss */
.blog-item img {
  display: block;
  width: 100%;
}
/* line 576, ../sass/content.scss */
.blog-item a {
  color: #323A45;
}
/* line 578, ../sass/content.scss */
.blog-item a:hover {
  color: #c1d72e;
}

/* line 583, ../sass/content.scss */
.entrytype {
  background: #c1d72e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: -40px auto 0;
  position: relative;
  width: 80px;
}
/* line 591, ../sass/content.scss */
.entrytype span {
  background: url(../images/blog/blog-clickthrough.png) no-repeat 0 0;
  height: 22px;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
  width: 22px;
}

/* line 602, ../sass/content.scss */
.entrymeta {
  margin-bottom: 1.875em;
}
/* line 604, ../sass/content.scss */
.entrymeta span {
  color: #aeaeae;
  font-size: 0.875em;
  font-weight: 200;
}

/* line 610, ../sass/content.scss */
.entrycontent {
  text-align: justify;
}

/* line 613, ../sass/content.scss */
.viewmore {
  display: inline-block;
  font-weight: 600;
  margin: 1.875em 0;
}

/* line 619, ../sass/content.scss */
.job-item {
  margin: 25px 0 40px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  -moz-box-shadow: 2px 2px 10px -2px;
  -webkit-box-shadow: 2px 2px 10px -2px;
  box-shadow: 2px 2px 10px -2px;
}
/* line 626, ../sass/content.scss */
.job-item h3 {
  font-size: 1.2em;
  margin: 0;
  position: absolute;
  top: 15px;
  right: -20px;
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  background: #f0f0ec;
  padding: 0 10px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 10px -2px;
  -webkit-box-shadow: 0 2px 10px -2px;
  box-shadow: 0 2px 10px -2px;
}
