/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
@media all and (min-width: 767px) and (max-width: 1440px) {
  /* line 7, ../sass/media-queries.scss */
  .listing-item .item-select .latest-thumb {
    height: 100%;
    width: auto;
  }
}
@media all and (min-width: 1280px) and (max-width: 1440px) {
  /* line 16, ../sass/media-queries.scss */
  #portfolio-item .parallax-block {
    height: 600px;
  }
  /* line 18, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-1 {
    top: -120px;
  }
  /* line 21, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-2 {
    top: -160px;
  }
  /* line 24, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-3 {
    top: -166px;
  }
}
@media all and (max-width: 1280px) {
  /* line 31, ../sass/media-queries.scss */
  #mediaCheck {
    display: none;
  }

  /* line 34, ../sass/media-queries.scss */
  #hero {
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1280px) {
  /* line 40, ../sass/media-queries.scss */
  #portfolio-item .parallax-block {
    height: 600px;
  }
  /* line 42, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-1 {
    top: -120px;
  }
  /* line 45, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-2 {
    top: -250px;
  }
  /* line 48, ../sass/media-queries.scss */
  #portfolio-item .parallax-block .level-3 {
    top: -300px;
  }
}
@media all and (max-width: 959px) {
  /* line 55, ../sass/media-queries.scss */
  html {
    font-size: 55%;
  }

  /* line 58, ../sass/media-queries.scss */
  .contain {
    padding: 0 10px;
  }

  /* line 61, ../sass/media-queries.scss */
  #leadNav {
    padding-top: 100px;
  }
  /* line 64, ../sass/media-queries.scss */
  #leadNav li a {
    padding: 10px 30px;
  }
  /* line 68, ../sass/media-queries.scss */
  #leadNav .subNavTrigger {
    height: 45px;
    padding-top: 21px;
  }

  /* line 73, ../sass/media-queries.scss */
  .content-section {
    padding: 3.125em 0;
  }

  /* line 76, ../sass/media-queries.scss */
  .team-item {
    min-height: 275px;
  }

  /* line 79, ../sass/media-queries.scss */
  #mapContain {
    height: 390px;
  }

  /* line 82, ../sass/media-queries.scss */
  #contact-area {
    height: auto;
    left: 0;
    top: 10px;
    transform: none;
  }

  /* line 88, ../sass/media-queries.scss */
  .office-title {
    font-size: 1.25em;
    padding: 5px;
  }

  /* line 93, ../sass/media-queries.scss */
  .adr span {
    font-size: 1.125em;
    padding: 5px;
  }
}
@media all and (max-width: 767px) {
  /* line 103, ../sass/media-queries.scss */
  html {
    font-size: 50%;
  }

  /* line 106, ../sass/media-queries.scss */
  .menu-trigger {
    height: 30px;
    padding: 5px;
    right: 20px;
    top: 16px;
    width: 30px;
  }
  /* line 112, ../sass/media-queries.scss */
  .menu-trigger span {
    height: 2px;
    margin: 9px auto;
    width: 20px;
  }
  /* line 116, ../sass/media-queries.scss */
  .menu-trigger span:before, .menu-trigger span::before {
    height: 2px;
    top: -9px;
  }
  /* line 120, ../sass/media-queries.scss */
  .menu-trigger span:after, .menu-trigger span::after {
    height: 2px;
    bottom: -9px;
  }
  /* line 127, ../sass/media-queries.scss */
  .menu-trigger.open span:before, .menu-trigger.open span::before {
    -moz-transform: rotate(45deg) translate(7px, 6px);
    -ms-transform: rotate(45deg) translate(7px, 6px);
    -webkit-transform: rotate(45deg) translate(7px, 6px);
    transform: rotate(45deg) translate(7px, 6px);
  }
  /* line 130, ../sass/media-queries.scss */
  .menu-trigger.open span:after, .menu-trigger.open span::after {
    -moz-transform: rotate(-45deg) translate(6px, -6px);
    -ms-transform: rotate(-45deg) translate(6px, -6px);
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
  }

  /* line 136, ../sass/media-queries.scss */
  #leadNav {
    padding-top: 80px;
  }
  /* line 138, ../sass/media-queries.scss */
  #leadNav .subNavTrigger {
    height: 35px;
    padding-top: 18px;
    width: 25px;
  }

  /* line 144, ../sass/media-queries.scss */
  .col {
    float: none;
    width: 100%;
  }

  /* line 148, ../sass/media-queries.scss */
  div[class*="offby"] {
    margin-left: 0;
  }

  /* line 152, ../sass/media-queries.scss */
  .row.negative-10, .row.negative-20, .row.negative-30 {
    margin: 0;
  }
  /* line 154, ../sass/media-queries.scss */
  .row.negative-10 .even-pad, .row.negative-20 .even-pad, .row.negative-30 .even-pad {
    margin: 0;
  }
  /* line 158, ../sass/media-queries.scss */
  .row .even-pad {
    margin: 0;
  }

  /* line 162, ../sass/media-queries.scss */
  .listing-item {
    height: 240px;
  }

  /* line 166, ../sass/media-queries.scss */
  #portfolio-item .parallax-block {
    height: 500px;
  }

  /* line 172, ../sass/media-queries.scss */
  .entry-list .blog-item .imgwrap {
    margin: 0;
  }
}
@media all and (max-width: 479px) {
  /* line 179, ../sass/media-queries.scss */
  .contain {
    padding: 0 5px;
  }

  /* line 182, ../sass/media-queries.scss */
  #logo-home {
    left: 0;
    margin: 0;
    padding: 10px;
    text-align: left;
    top: 0;
    width: 300px;
  }
  /* line 189, ../sass/media-queries.scss */
  #logo-home img {
    width: 160px;
  }
  /* line 192, ../sass/media-queries.scss */
  #logo-home .strap {
    display: none;
  }

  /* line 196, ../sass/media-queries.scss */
  #logo {
    padding: 10px;
  }

  /* line 199, ../sass/media-queries.scss */
  #leadNav {
    padding-top: 68px;
  }

  /* line 203, ../sass/media-queries.scss */
  #portfolio-item .parallax-block {
    height: 280px;
  }
}
