/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 14, ../sass/type.scss */
h1, h2, h3, h4, h5, h6 {
  color: #323a45;
  font-weight: 200;
  line-height: 1.61803em;
  margin: 0;
}

/* line 7, ../sass/type.scss */
h1 {
  font-size: 1.875em;
}

/* line 7, ../sass/type.scss */
h2 {
  font-size: 1.65em;
}

/* line 7, ../sass/type.scss */
h3 {
  font-size: 1.425em;
}

/* line 7, ../sass/type.scss */
h4 {
  font-size: 1.2em;
}

/* line 7, ../sass/type.scss */
h5 {
  font-size: 0.975em;
}

/* line 7, ../sass/type.scss */
h6 {
  font-size: 0.75em;
}

/* line 23, ../sass/type.scss */
h3 {
  margin-bottom: 30px;
}

/* line 27, ../sass/type.scss */
h4 {
  margin-bottom: 20px;
}

/* line 31, ../sass/type.scss */
a {
  text-decoration: none;
  color: #c1d72e;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: all ease-in-out 0.2s;
}
/* line 35, ../sass/type.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 40, ../sass/type.scss */
p {
  margin: 0 0 2.8125em 0;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.61803em;
}

/* line 49, ../sass/type.scss */
.icon i {
  font-size: 3em;
}
