@import "global-variables";

header {
  background: $primaryColor;
  @include box-shadow(2px 2px 4px rgb(136, 136, 136));
  position: relative;
}
#logo {
  padding: 26px;
  img {
    display: block;
  }
}

.menu-trigger {
  background: rgba(50, 58, 69, .7);
    border-radius: 3px;
    display: block;
    height: 50px;
    overflow: hidden;
    position: fixed;
    right: 40px;
    top: 25px;
    width: 60px;
    padding: 10px;
    z-index: 999;
  span {
    background: rgb(255, 255, 255);
        display: block;
        width: 40px;
        height: 4px;
        margin: 13px auto;
        position: relative;
        text-indent: 100%;
        white-space: nowrap;
        @include transition(all ease-in-out 0.2s);
        &:before, &:after {
            @include transition(all ease-in-out 0.2s);
        }
        &:before, &::before {
            background: rgb(255, 255, 255);
            content: "";
            height: 4px;
            left: 0;
            position: absolute;
            top: -13px;
            width: 100%;
        }
        &:after, &::after {
            background: rgb(255, 255, 255);
            content: "";
            height: 4px;
            left: 0;
            position: absolute;
            bottom: -13px;
            width: 100%;
        }
  }
  &:not(.open):hover {
        span {
            &:before {
                -webkit-animation: menuHoverB .3s linear;
                animation: menuHoverB .3s linear;
            }
            &:after {
                -webkit-animation: menuHoverA .3s linear;
                animation: menuHoverA .3s linear;
            }
        }
    }

    &.open {
        span {
            background: transparent;
            &:before {
                @include transform(rotate(45deg) translate(10px, 8px));
            }
            &:after {
                @include transform(rotate(-45deg) translate(10px, -8px));
            }
        }
    }
}
#leadNav {
  background: rgb(50, 58, 69);
  height: 100%;
  padding: 125px 0 50px;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 990;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    position: relative;
    a {
      color: $secondaryColor;
      display: block;
      font-weight: 300;
      padding: 20px 50px;
      &:hover, &.active {
        background: $tertiaryColor;
        color: $primaryColor;
        text-decoration: none;
      }
    }
  }
  .subNav {
    background: $tertiaryColor;
    height: 0;
    margin-left: 20px;
    overflow: hidden;
    li {
      a {
        &:hover {
          background: $secondaryColor;
        }
          &.active {
              background: $secondaryColor;
          }
      }
    }
  }
  .subNavTrigger {
    height: 65px;
    overflow: hidden;
    padding: 30px 0 0;
    position: absolute;
    right: 20px;
    text-indent: 300%;
    top: 0;
    white-space: nowrap;
    width: 30px;
    &:hover {
      background: none;
    }
    span {
      background: rgb(255, 255, 255);
      display: block;
      height: 2px;
      position: relative;
      @include transition(all ease-in-out 0.2s);
      &:after, &::after {
        background: rgb(255, 255, 255);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        @include transform(rotate(90deg));
        top: 0;
        width: 100%;
      }
    }
    &.open {
      span {
        @include transform(rotate(45deg));
      }
    }
  }
}

//Logo home
#logo-home {
  height: 246px;
  left: 50%;
  margin-left: -300px;
  margin-top: -123px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 600px;
  .strap {
    color: rgb(145, 148, 150);
    font-size: 2em;
    font-weight: 200;
    line-height: $ratio + em;
    padding: 20px;
  }
}

@-webkit-keyframes menuHoverB {
    0% {
        top: -13px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: -13px;
    }
}

@keyframes menuHoverB {
    0% {
        top: -13px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: -13px;
    }
}

@-webkit-keyframes menuHoverA {
    0% {
        bottom: -13px;
    }
    50% {
        bottom: -10px;
    }
    100% {
        bottom: -13px;
    }
}

@keyframes menuHoverA {
    0% {
        bottom: -13px;
    }
    50% {
        bottom: -10px;
    }
    100% {
        bottom: -13px;
    }
}