@import"global-variables";

//Services block
#services {
    // Magic wand
    @for $i from 1 through 7 {
        .star:nth-child(#{$i}) {
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            @include transform(rotate(0) scale(1));
            -moz-animation: stars 2s $i*0.25s infinite;
            -o-animation: stars 2s $i*0.25s infinite;
            -webkit-animation: stars 2s $i*0.25s infinite;
            animation: stars 2s $i*0.25s infinite;
        }
    }

    .wand {
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        @include transform(rotate(0));
        -moz-animation: wand 2s ease infinite;
        -o-animation: wand 2s ease infinite;
        -webkit-animation: wand 2s ease infinite;
        animation: wand 2s ease infinite;
    }

    // Spining cogs
    .cogs {
        position: relative;
        width: 70px;
        height: 120px;
        margin: 0 auto;
    }

    .big-cog {
        @include transform-origin(center center);
        @include animation(rotateA 5s ease infinite);

        // IE hacks
        position: absolute\9;
        top: -15px\9;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            position: absolute;
            top: -15px;
        }
    }

    .wee-cog {
        @include transform-origin(center center);
        @include animation(rotateB 5s ease infinite);
        position: absolute;
        left: 55%;
        bottom: 5px;
        width: 50px;
        
        // IE hacks
        bottom: -40px\9;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            bottom: -40px;
        }
    }

    // Fusion flask with bubbles
    @for $i from 1 through 8 {
        .bubbles:nth-child(#{$i}) {
            opacity: 0;
            -webkit-animation: bubbles 2.5s $i*.25s infinite;
            -moz-animation: bubbles 2.5s $i*.25s infinite;
            -o-animation: bubbles 2.5s $i*.25s infinite;
            animation: bubbles 2.5s $i*.25s infinite;
        }
    }
}

@-webkit-keyframes rotateA {
    0% {
        @include transform(rotate(0deg));
    }
    50% {
        @include transform(rotate(-360deg));
    }
}
@keyframes rotateA {
    0% {
        @include transform(rotate(0deg));
    }
    50% {
        @include transform(rotate(-360deg));
    }
}
@-webkit-keyframes rotateB {
    0% {
        @include transform(rotate(0deg));
    }
    50% {
        @include transform(rotate(360deg));
    }
}
@keyframes rotateB {
    0% {
        @include transform(rotate(0deg));
    }
    50% {
        @include transform(rotate(360deg));
    }
}
@-webkit-keyframes stars {
    0% {
        @include transform(rotate(0) scale(0));
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        @include transform(rotate(180deg) scale(1));
        opacity: 0;
    }
}
@keyframes stars {
    0% {
        @include transform(rotate(0) scale(0));
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        @include transform(rotate(180deg) scale(1));
        opacity: 0;
    }
}
@-webkit-keyframes wand {
    0% {
        @include transform(rotate(0));
    }
    50% {
        @include transform(rotate(4deg));
    }
}
@keyframes wand {
    0% {
        @include transform(rotate(0));
    }
    50% {
        @include transform(rotate(4deg));
    }
}
@-webkit-keyframes bubbles {
    0% {
        -webkit-transform: scale(0.6) translate3d(50px, 0, 0);
        -moz-transform: scale(0.6) translate3d(50px, 0, 0);
        -ms-transform: scale(0.6) translate3d(50px, 0, 0);
        -o-transform: scale(0.6) translate3d(50px, 0, 0);
        transform: scale(0.6) translate3d(50px, 0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -moz-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -ms-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -o-transform: scale(1.25) translate3d(-5px, -5px, 0);
        transform: scale(1.25) translate3d(-5px, -5px, 0);
    }
}
@keyframes bubbles {
    0% {
        -webkit-transform: scale(0.6) translate3d(50px, 0, 0);
        -moz-transform: scale(0.6) translate3d(50px, 0, 0);
        -ms-transform: scale(0.6) translate3d(50px, 0, 0);
        -o-transform: scale(0.6) translate3d(50px, 0, 0);
        transform: scale(0.6) translate3d(50px, 0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -moz-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -ms-transform: scale(1.25) translate3d(-5px, -5px, 0);
        -o-transform: scale(1.25) translate3d(-5px, -5px, 0);
        transform: scale(1.25) translate3d(-5px, -5px, 0);
    }
}
