@import "global-variables";


@media all and (min-width: 767px) and (max-width: 1440px) {
  .listing-item {
    .item-select {
      .latest-thumb {
        height: 100%;
        width: auto;
      }
    }
  }
}
@media all and (min-width: 1280px) and (max-width: 1440px) {
    #portfolio-item {
        .parallax-block {
          height: 600px;
          .level-1 {
            top: -120px;
          }
          .level-2 {
            top: -160px;
          }
          .level-3 {
            top: -166px;
          }
        }
    }
}
@media all and (max-width: 1440px) {
	#intro {
		padding: 1.875em 1.25em;
		&.singlepost {
			padding: 1.875em;	
		}
	}
}
@media all and (max-width: 1280px) {
  #mediaCheck {
    display: none;
  }
  #hero {
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1280px) {
  #portfolio-item {
    .parallax-block {
      height: 600px;
      .level-1 {
        top: -120px;
      }
      .level-2 {
        top: -250px;
      }
      .level-3 {
        top: -300px;
      }
    }
  }
}
@media all and (max-width: 959px) {
  html {
    font-size: 55%;
  }
  .contain {
    padding: 0 10px;
  }
  #leadNav {
    padding-top: 100px;
    li {
      a {
        padding: 10px 30px;
      }
    }
    .subNavTrigger {
      height: 45px;
      padding-top: 21px;
    }
  }
    .content-section {
        padding: 3.125em 0;   
    }
    .team-item {
        min-height: 275px;
    }
    #mapContain {
        height: 390px;
    }
    #contact-area {
        height: auto;
        left: 0;
        top: 10px;
        transform: none;
    }
    .office-title {
        font-size: 1.25em;
        padding: 5px;
    }
    .adr {
        span {
            font-size: 1.125em;
            padding: 5px;    
        }
    }
}
@media all and (min-width: 480px) and (max-width: 767px) {

}
@media all and (max-width: 767px) {
  html {
    font-size: 50%;
  }
	.menu-trigger {
	  height: 30px;
	padding: 5px;
		right: 20px;
    top: 16px;
	  width: 30px;
	  span {
	  	height: 2px;
		  margin: 9px auto;
	  	width: 20px;
		  &:before, &::before {
		  	height: 2px;
			  top: -9px;
		  }
		  &:after, &::after {
		 	height: 2px;
			  bottom: -9px;
		  }
	  }
	  &.open {
	  	span {
			&:before, &::before {
				@include transform(rotate(45deg) translate(7px, 6px));
			}
			&:after, &::after {
				@include transform(rotate(-45deg) translate(6px, -6px));
			}
		}
	  }
  }
  #leadNav {
    padding-top: 80px;
    .subNavTrigger {
      height: 35px;
      padding-top: 18px;
	  width: 25px;
    }
  }
  .col {
    float: none;
    width: 100%;
  }
  div[class*="offby"] {
    margin-left: 0;
  }
  .row {
    &.negative-10, &.negative-20, &.negative-30 {
      margin: 0;
      .even-pad {
        margin: 0;
      }
    }
    .even-pad {
      margin: 0;
    }
  }
	#intro {
		padding: 1em 0.625em;
		&.singlepost {
			padding: 1em 0.625em;	
		}
		&::after {
			border-bottom-width: 10px;
			border-left-width: 10px;
			border-right-width: 10px;
			margin-left: -10px;
		}
	}
  .listing-item {
    height: 240px;
  }
  #portfolio-item {
    .parallax-block {
      height: 500px;
    }
  }
	.entry-list {
		.blog-item {
			.imgwrap {
				margin: 0;	
			}
		}
	}
	.entrymeta {
		margin-bottom: 0;	
	}
}
@media all and (max-width: 479px) {
  .contain {
    padding: 0 5px;
  }
  #logo-home {
    left: 0;
    margin: 0;
    padding: 10px;
    text-align: left;
    top: 0;
    width: 300px;
    img {
      width: 160px;
    }
    .strap {
      display: none;
    }
  }
  #logo {
    padding: 10px;
  }
  #leadNav {
    padding-top: 68px;
  }
  #portfolio-item {
    .parallax-block {
      height: 280px;
    }
  }
    
}
