/* line 3, ../sass/animations.scss */
.animate .animation-item {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 10, ../sass/animations.scss */
.animate .animation-item.delay-10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 14, ../sass/animations.scss */
.animate .animation-item.delay-14 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
/* line 18, ../sass/animations.scss */
.animate .animation-item.delay-18 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
/* line 23, ../sass/animations.scss */
.animate .fadeIn {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 28, ../sass/animations.scss */
.animate .initial-animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 36, ../sass/animations.scss */
.animate .delayed-animate {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 44, ../sass/animations.scss */
.animate .fadeScale {
  -webkit-animation-name: fadeScale;
  animation-name: fadeScale;
}
/* line 48, ../sass/animations.scss */
.animate .faderotate360 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: faderotate360;
  animation-name: faderotate360;
}
/* line 54, ../sass/animations.scss */
.animate .rotateXY {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-name: rotateXY;
  animation-name: rotateXY;
}
/* line 60, ../sass/animations.scss */
.animate .element-up {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: elementUp;
  animation-name: elementUp;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
/* line 71, ../sass/animations.scss */
.animate .element-up.delay-1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 75, ../sass/animations.scss */
.animate .element-up.delay-2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 79, ../sass/animations.scss */
.animate .element-up.delay-3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 83, ../sass/animations.scss */
.animate .element-up.delay-3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@media screen and (min-width: 767px) {
  /* line 90, ../sass/animations.scss */
  .element-up {
    opacity: 0;
    -webkit-transform: translateY(400px);
  }
}
@-webkit-keyframes fadeIn {
  /* line 97, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 101, ../sass/animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 107, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 110, ../sass/animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes elementUp {
  /* line 118, ../sass/animations.scss */
  20% {
    opacity: 1;
  }

  /* line 121, ../sass/animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes elementUp {
  /* line 128, ../sass/animations.scss */
  20% {
    opacity: 1;
  }

  /* line 131, ../sass/animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeScale {
  /* line 139, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 142, ../sass/animations.scss */
  70% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  /* line 147, ../sass/animations.scss */
  85% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 152, ../sass/animations.scss */
  95% {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  /* line 157, ../sass/animations.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes fadeScale {
  /* line 164, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 167, ../sass/animations.scss */
  70% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  /* line 172, ../sass/animations.scss */
  85% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 177, ../sass/animations.scss */
  95% {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  /* line 182, ../sass/animations.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes faderotate360 {
  /* line 190, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 193, ../sass/animations.scss */
  35% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  /* line 198, ../sass/animations.scss */
  42% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 203, ../sass/animations.scss */
  45% {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  /* line 208, ../sass/animations.scss */
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 212, ../sass/animations.scss */
  51% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /* line 216, ../sass/animations.scss */
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes faderotate360 {
  /* line 223, ../sass/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 226, ../sass/animations.scss */
  35% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  /* line 231, ../sass/animations.scss */
  42% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 236, ../sass/animations.scss */
  45% {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  /* line 241, ../sass/animations.scss */
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 245, ../sass/animations.scss */
  51% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /* line 249, ../sass/animations.scss */
  100% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
  }
}

@-webkit-keyframes rotateXY {
  /* line 257, ../sass/animations.scss */
  0% {
    transform: rotateX(-15deg) rotateY(-15deg);
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
  }

  /* line 261, ../sass/animations.scss */
  33% {
    transform: rotateX(-315deg) rotateY(-15deg);
    -webkit-transform: rotateX(-315deg) rotateY(-15deg);
  }

  /* line 265, ../sass/animations.scss */
  66% {
    transform: rotateY(-315deg) rotateY(-315deg);
    -webkit-transform: rotateX(-315deg) rotateY(-315deg);
  }

  /* line 269, ../sass/animations.scss */
  100% {
    transform: rotateY(-15deg) rotateY(-15deg);
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
  }
}

@keyframes rotateXY {
  /* line 275, ../sass/animations.scss */
  0% {
    transform: rotateX(-15deg) rotateY(-15deg);
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
  }

  /* line 279, ../sass/animations.scss */
  66% {
    transform: rotateY(-315deg) rotateY(-315deg);
    -webkit-transform: rotateX(-315deg) rotateY(-315deg);
  }

  /* line 283, ../sass/animations.scss */
  100% {
    transform: rotateY(-15deg) rotateY(-15deg);
    -webkit-transform: rotateX(-15deg) rotateY(-15deg);
  }
}

/* line 290, ../sass/animations.scss */
.parallax-block {
  overflow: hidden;
  position: relative;
}
/* line 293, ../sass/animations.scss */
.parallax-block .parallax-item {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
