@import"global-variables";
//Various mixins
@mixin center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
//Homepage hero
#hero {
    height: 100%;
    overflow: hidden;
    position: relative;
}
//Image contain
#imagecontain {
    height: 77vh;
    height: 600px\9;
    overflow: hidden;
    position: relative;

    img {
        position: relative;
    }

    @media all and (max-width: 1130px) {
        height: auto;
    }
}
//Carousel mask
#mask {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
//Intro box
#intro {
    background-color: $tertiaryColor;
    padding: 2.5em 1.875em;
    margin-bottom: 2.5em;
    position: relative;
    text-align: center;

    &.singlepost {
        padding: 4.375em 1.875em;

        * {
            color: $secondaryColor;
        }

        .entrymeta {
            span, a {
                font-size: 1.125em;
                font-style: italic;
            }
        }
    }

    &.port-title {
        background: $secondaryColor;
        @include box-shadow(0 1px 5px rgb(136, 136, 136));
        margin-bottom: 0;
        padding: 1.25em 1.875em;

        p {
            font-size: 1.125em;
            font-style: italic;
            margin: 0;
        }

        &:after {
            border: 0;
        }
    }

    h1, h2, p {
        font-size: 2em;
        font-weight: 300;
        line-height: 1.617em;
        margin: 0;
    }

    &:after {
        border-bottom: 20px solid #f0f0ec;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        bottom: 0;
        content: "";
        left: 50%;
        margin-left: -20px;
        position: absolute;
    }
}
//Intro text
#text-intro {
    // font-size: 1.5em; - applied these rules to all p tags
    // font-weight: 100;
    // line-height: $ratio + em;
    padding: 50px 0;
}
//Content section
.content-section {
    padding: 3.25em 0;

    h2 {
        font-weight: 700;
        margin-bottom: 2.8125em;
        text-align: center;
    }
}

#services {
    text-align: center;

    h3 {
        font-weight: 400;
        margin-top: 40px;
    }
}

.icon-fill {
    list-style: none;

    li {
        position: relative;
        z-index: 2;
        margin-left: 250px;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 270px;
            right: 100%;
            z-index: 2;
        }

        &:before {
            top: 0;
            height: 200px;
            background-repeat: no-repeat;
        }

        &.icon-1:before {
            background: url(../images/icons/software-icon.png) no-repeat;
        }
    }
}
//Latest block
.listing-item {
    background: rgb(255, 255, 255);
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
    height: 328px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    .item-select {
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;

        .latest-thumb {
            display: block;
            width: 100%;
        }

        .type {
            background: rgb(255, 255, 255);
            @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
            color: $primaryColor;
            display: inline-block;
            font-size: 0.8125em;
            font-weight: 700;
            left: 0;
            padding: 0.625em;
            position: absolute;
            //top: -50px;
            top: 0;
            //@include transition(all ease-in-out 0.2s);
            //-webkit-transition-delay: 0.2s;
            //transition-delay: 0.2s;
            z-index: 10;
        }

        &:hover {
            .latest-thumb {
                -webkit-animation-duration: 20s;
                -moz-animation-duration: 20s;
                -o-animation-duration: 20s;
                animation-duration: 20s;
                -webkit-animation-delay: 0.2s;
                -moz-animation-delay: 0.2s;
                -o-animation-delay: 0.2s;
                animation-delay: 0.2s;
                -webkit-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-name: slowScale;
                -moz-animation-name: slowScale;
                -o-animation-name: slowScale;
                animation-name: slowScale;
            }

            .cover {
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.22), inset -2px -2px 2px rgba(0, 0, 0, 0.22);
                opacity: 1;

                .type {
                    //top: 0;
                }

                .meta-wrap {
                    bottom: 10px;
                }

                .brand-logo {
                    opacity: 1;
                }
            }
        }
    }
}

@-webkit-keyframes slowScale {
    100% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.cover {
    background: rgba(193, 215, 46, 0.85);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    @include transition(all ease-in-out 0.2s);

    .latest-meta {
        background: rgb(255, 255, 255);
        color: $primaryColor;
        padding: 0.625em;
    }
}

.meta-wrap {
    bottom: -100px;
    left: 10px;
    position: absolute;
    right: 10px;
    @include transition(all ease-in-out 0.2s);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;

    .latest-meta {
        background: rgb(255, 255, 255);
        color: $primaryColor;
        display: inline-block;
    }

    .title {
        font-size: 1.125em;
        font-weight: 700;
    }

    .summary {
        font-size: 0.8155em;
        line-height: 1.61803em;
        margin: 0;
    }

    .publishdate {
        font-size: 0.75em;
    }
}

.work-item {
    .brand-logo {
        opacity: 0;
        @include transition(all ease-in-out 0.4s);
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
        width: 120px;
        @include center;

        img {
            display: block;
        }
    }
}

.blog-item {
    .meta-wrap {
        bottom: -300px;
    }
}
//About section 1
.sec-1 {
    .parallax-item {
        &.level-1 {
            background: url(../images/about-sec-1-bg-1.png) no-repeat 50% 50%;
        }

        &.level-2 {
            background: url(../images/about-sec-1-bg-2.png) no-repeat 50% 50%;
        }

        &.level-3 {
            background: url(../images/about-sec-1-bg-3.png) no-repeat 50% 50%;
        }
    }
}
