@import "global-variables";

input, label, textarea, select {
    display: block;
    width: 100%;
}
input, textarea, select {
    background: $secondaryColor;
    border: 0;
    @include border-radius(0);
    padding: 10px;
    &:active, &:focus {
        outline: none;
    }
}
textarea {
    min-height: 300px;
}
input[type='checkbox'], input[type='radio'] {
    width: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    + label {
        padding-left: 20px;
    }
}
input[type='submit'] {
    @include transition(all ease-in-out 0.2s);
}
button {
    border: none;
    margin-top: 20px;
}
.frmRow {
    margin-bottom: 20px;
    position: relative;
}