@import "global-variables";

header {
  background: $primaryColor;
  @include box-shadow(2px 2px 4px rgb(136, 136, 136));
  position: relative;
}
#logo {
  padding: 26px;
  img {
    display: block;
  }
}

.menu-trigger {
  display: block;
  height: 30px;
  overflow: hidden;
  position: fixed;
  right: 50px;
  top: 35px;
  width: 50px;
  z-index: 999;
  span {
    background: rgb(255, 255, 255);
    display: block;
    height: 4px;
    margin: 13px 0;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    @include transition(all ease-in-out 0.2s);
    &:before, &::before {
      background: rgb(255, 255, 255);
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: -13px;
      width: 100%;
    }
    &:after, &::after {
      background: rgb(255, 255, 255);
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      bottom: -13px;
      width: 100%;
    }
  }
  &.open {
    span {
      @include transform(rotate(45deg));
      &::before {
        top: 0;
        @include transform(rotate(90deg));
      }
      &::after {
        bottom: 0;
        @include transform(rotate(90deg))
      }
    }
  }
}
#leadNav {
  background: rgb(50, 58, 69);
  height: 100%;
  padding: 125px 0 50px;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 990;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    position: relative;
    a {
      color: $secondaryColor;
      display: block;
      font-weight: 300;
      padding: 20px 50px;
      &:hover, &.active {
        background: $tertiaryColor;
        color: $primaryColor;
        text-decoration: none;
      }
    }
  }
  .subNav {
    background: $tertiaryColor;
    height: 0;
    margin-left: 20px;
    overflow: hidden;
    li {
      a {
        &:hover {
          background: $secondaryColor;
        }
          &.active {
              background: $secondaryColor;
          }
      }
    }
  }
  .subNavTrigger {
    height: 65px;
    overflow: hidden;
    padding: 30px 0 0;
    position: absolute;
    right: 20px;
    text-indent: 300%;
    top: 0;
    white-space: nowrap;
    width: 30px;
    &:hover {
      background: none;
    }
    span {
      background: rgb(255, 255, 255);
      display: block;
      height: 2px;
      position: relative;
      @include transition(all ease-in-out 0.2s);
      &:after, &::after {
        background: rgb(255, 255, 255);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform: rotate(90deg);
        top: 0;
        -webkit-transform: rotate(90deg);
        width: 100%;
      }
    }
    &.open {
      span {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

//Logo home
#logo-home {
  height: 246px;
  left: 50%;
  margin-left: -300px;
  margin-top: -123px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 600px;
  .strap {
    color: rgb(145, 148, 150);
    font-size: 2em;
    font-weight: 200;
    line-height: $ratio + em;
    padding: 20px;
  }
}
