/*
 * Global variables used for styles throughout the framework and for various calculations
 */
/* Global styles */
/* Default button styles */
/* Alt button styles */
/*Generic styles*/
/*Layout */
/* line 4, ../sass/icons.scss */
#services {
  text-align: center;
}
/* line 7, ../sass/icons.scss */
#services h3 {
  font-weight: 700;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(1) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 0.25s infinite;
  -o-animation: stars 2s 0.25s infinite;
  -webkit-animation: stars 2s 0.25s infinite;
  animation: stars 2s 0.25s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(2) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 0.5s infinite;
  -o-animation: stars 2s 0.5s infinite;
  -webkit-animation: stars 2s 0.5s infinite;
  animation: stars 2s 0.5s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(3) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 0.75s infinite;
  -o-animation: stars 2s 0.75s infinite;
  -webkit-animation: stars 2s 0.75s infinite;
  animation: stars 2s 0.75s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(4) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 1s infinite;
  -o-animation: stars 2s 1s infinite;
  -webkit-animation: stars 2s 1s infinite;
  animation: stars 2s 1s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(5) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 1.25s infinite;
  -o-animation: stars 2s 1.25s infinite;
  -webkit-animation: stars 2s 1.25s infinite;
  animation: stars 2s 1.25s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(6) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 1.5s infinite;
  -o-animation: stars 2s 1.5s infinite;
  -webkit-animation: stars 2s 1.5s infinite;
  animation: stars 2s 1.5s infinite;
}
/* line 12, ../sass/icons.scss */
#services .star:nth-child(7) {
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
  -moz-animation: stars 2s 1.75s infinite;
  -o-animation: stars 2s 1.75s infinite;
  -webkit-animation: stars 2s 1.75s infinite;
  animation: stars 2s 1.75s infinite;
}
/* line 30, ../sass/icons.scss */
#services .wand {
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-animation: wand 2s ease infinite;
  -o-animation: wand 2s ease infinite;
  -webkit-animation: wand 2s ease infinite;
  animation: wand 2s ease infinite;
}
@-webkit-keyframes stars {
  0% {
    -moz-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -ms-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -o-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -webkit-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    transform: rotate(0) scale(0) translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -ms-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -o-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -webkit-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes stars {
  0% {
    -moz-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -ms-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -o-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    -webkit-transform: rotate(0) scale(0) translate3d(0, 0, 0);
    transform: rotate(0) scale(0) translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -ms-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -o-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    -webkit-transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    transform: rotate(180deg) scale(1) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes wand {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  50% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  75% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes wand {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  50% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  75% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 163, ../sass/icons.scss */
#services .big-cog {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateA 5s ease infinite;
  -moz-animation: rotateA 5s ease infinite;
  -o-animation: rotateA 5s ease infinite;
  animation: rotateA 5s ease infinite;
}
/* line 175, ../sass/icons.scss */
#services .wee-cog {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateB 5s ease infinite;
  -moz-animation: rotateB 5s ease infinite;
  -o-animation: rotateB 5s ease infinite;
  animation: rotateB 5s ease infinite;
}
@-webkit-keyframes rotateA {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateA {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateB {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotateB {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(1) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 0.25s infinite;
  -moz-animation: bubbles 2.5s 0.25s infinite;
  -o-animation: bubbles 2.5s 0.25s infinite;
  animation: bubbles 2.5s 0.25s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(2) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 0.5s infinite;
  -moz-animation: bubbles 2.5s 0.5s infinite;
  -o-animation: bubbles 2.5s 0.5s infinite;
  animation: bubbles 2.5s 0.5s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(3) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 0.75s infinite;
  -moz-animation: bubbles 2.5s 0.75s infinite;
  -o-animation: bubbles 2.5s 0.75s infinite;
  animation: bubbles 2.5s 0.75s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(4) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 1s infinite;
  -moz-animation: bubbles 2.5s 1s infinite;
  -o-animation: bubbles 2.5s 1s infinite;
  animation: bubbles 2.5s 1s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(5) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 1.25s infinite;
  -moz-animation: bubbles 2.5s 1.25s infinite;
  -o-animation: bubbles 2.5s 1.25s infinite;
  animation: bubbles 2.5s 1.25s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(6) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 1.5s infinite;
  -moz-animation: bubbles 2.5s 1.5s infinite;
  -o-animation: bubbles 2.5s 1.5s infinite;
  animation: bubbles 2.5s 1.5s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(7) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 1.75s infinite;
  -moz-animation: bubbles 2.5s 1.75s infinite;
  -o-animation: bubbles 2.5s 1.75s infinite;
  animation: bubbles 2.5s 1.75s infinite;
}
/* line 292, ../sass/icons.scss */
#services .bubbles:nth-child(8) {
  opacity: 0;
  -webkit-animation: bubbles 2.5s 2s infinite;
  -moz-animation: bubbles 2.5s 2s infinite;
  -o-animation: bubbles 2.5s 2s infinite;
  animation: bubbles 2.5s 2s infinite;
}
@-webkit-keyframes bubbles {
  0% {
    -webkit-transform: scale(0.6) translate3d(50px, 0, 0);
    -moz-transform: scale(0.6) translate3d(50px, 0, 0);
    -ms-transform: scale(0.6) translate3d(50px, 0, 0);
    -o-transform: scale(0.6) translate3d(50px, 0, 0);
    transform: scale(0.6) translate3d(50px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -moz-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -ms-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -o-transform: scale(1.25) translate3d(-5px, -5px, 0);
    transform: scale(1.25) translate3d(-5px, -5px, 0);
  }
}
@keyframes bubbles {
  0% {
    -webkit-transform: scale(0.6) translate3d(50px, 0, 0);
    -moz-transform: scale(0.6) translate3d(50px, 0, 0);
    -ms-transform: scale(0.6) translate3d(50px, 0, 0);
    -o-transform: scale(0.6) translate3d(50px, 0, 0);
    transform: scale(0.6) translate3d(50px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -moz-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -ms-transform: scale(1.25) translate3d(-5px, -5px, 0);
    -o-transform: scale(1.25) translate3d(-5px, -5px, 0);
    transform: scale(1.25) translate3d(-5px, -5px, 0);
  }
}
